{% extends 'layout.html' %}

{% block body %}

<div class="row">
    <div class="col-md-6 offset-md-3">
    
    <h2 style: ><strong> İLETİŞİM</strong></h2>
    
    <br>
    <h3>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
        </svg>
    SALON
   </h3>
   <p style = "margin-left:25px;">
   Merkez Mahallesi <br>
   686. Sokak <br>
   No:19 Daire:14 <br>
   
   </p>

     <h3>

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
        </svg>
    TELEFON
     </h3>
       <p style = "margin-left:25px;">
        0538 317 7828
   
   </p>
    
    <h3>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
        </svg>
    KONUM
   </h3>

    <iframe width="700" height="450" style="border:0;margin-left:25px;" loading="fast" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=burak'%C4%B1n%20makas%C4%B1&key=AIzaSyBkCA_NLTeviI5t5RuqgMhGaQWLICb98JU"></iframe>

    </div>
  </div>



{% endblock body %}