{% extends 'layout.html' %}
{% load static %}

{% block body %}
<div class= "container-fluid">
  <div class="row">
    <div class="col-md-4">
    <img src="{% static 'img/burak_pp.png' %}" width="%100" height="600"  alt="">

      </div>
    <div class="col-md-4">
      <h3>  DAHA SONRA EKLENECEK</h3>

  </div>

    <div class="col-md-4">

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'img/anatomik_sac.png' %}" width="%100" height="600" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 >Anatomik Saç Kesimi</h5>
        <p>Online Anatomik Saç Kesim Şampiyonu</p>
        <br>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/sac_2.png' %}" width="%100" height="600" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <text>Saç şekli kişiye özeldir, </text> <text style = "color:black">  tıpkı parmak iziniz </text> <text>gibi.</text>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/sac_3.png' %}" width="%100" height="600" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        
        <text>Kendinizi özel hissedin.</text>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div>

</div>
</div>
<br>

<hr style="height:15px;border-width:0;color:black;background-color:black">

<div class="container-fluid">
<div class="d-flex justify-content-center">
<h1><strong><i>BURAK ÖZÜM KİMDİR?</i></strong></h1>
</div>

<div class="row" style = "margin-top:40px" >
    <div class="col-md-2 offset-md-1">
<image src="{% static 'img/burak_about.png' %}" width = "%100" height = "400" ></image>
</div>

 <div class="col-md-6 offset-md-1">
  <p style = "text-align-center">HAKKINDA HAKKINDA HAKKINDA HAKKINDA HAKKINDA HAKKINDA HAKKINDA HAKKINDA HAKKINDA HAKKINDA HAKKINDA HAKKINDA HAKKINDA HAKKINDA HAKKINDA HAKKINDA HAKKINDA HAKKINDA HAKKINDA HAKKINDA HAKKINDA HAKKINDA HAKKINDA HAKKINDA HAKKINDA </p>
</div>

</div>
</div>

<br>
<hr style="height:15px;border-width:0;color:black;background-color:black">

<div class="container-fluid">
<div class="row">
    <div class="col-md-6 offset-md-3">
    
    <h2 style: ><strong> İLETİŞİM</strong></h2>
    
    <br>
    <h3>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
        </svg>
    SALON
   </h3>
   <p style = "margin-left:25px;">
   Merkez Mahallesi <br>
   686. Sokak <br>
   No:19 Daire:14 <br>
   
   </p>

     <h3>

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
        </svg>
    TELEFON
     </h3>
       <p style = "margin-left:25px;">
        0538 317 7828
   
   </p>
    
    <h3>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
        </svg>
    KONUM
   </h3>

    <iframe width="700" height="450" style="border:0;margin-left:25px;" loading="fast" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=burak'%C4%B1n%20makas%C4%B1&key=AIzaSyBkCA_NLTeviI5t5RuqgMhGaQWLICb98JU"></iframe>

    </div>
  </div>
  </div>


{% endblock body %}
